= stylesheet_link_tag 'bootstrap.min.css'
= stylesheet_link_tag 'font-awesome.min.css'
= stylesheet_link_tag 'all.css'
= stylesheet_link_tag 'animation-controls.css'
= stylesheet_link_tag 'legend.css', 'article.css'
= stylesheet_link_tag 'line_chart.css'

%div.chart
	%title The Spread of Ebola: Information and Disease

	%div#ebola_chart
		%h2 The Spread of Ebola: Information and Disease
		%div#legend
			%div.legend-title Intensity of Google searches for the term 'ebola'
		%div.global_tracker
			%div.tracker_date
			%div.tracker_cases
			%div.tracker_deaths
		%div.headlines
		%div.tooltip
			%div.tooltip-country
			%div.tooltip-search-intensity

%div.animation-controls
	.btn-group
		%botton#prev-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 20px'}
			%i{class: 'fa fa-step-backward fa-3x'}	
		%button#play-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 50px'}
			%i#play_pause_image{class: 'fa fa-play fa-3x'}
		%botton#next-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 20px'}
			%i{class: 'fa fa-step-forward fa-3x'}

/ #line_chart

/ = partial 'writeup'

#united_states_graph

:javascript
	var Infograph = {};
	Infograph.animating = false;
	Infograph.intervalId = null;
	Infograph.current_date_index = 0;
= javascript_include_tag "google_analytics"
= javascript_include_tag "jquery-2.1.1.min", "d3", "queue.v1.min", "topojson.v1.min", "events", "animation_controls", "ebola_chart", "line_chart"

:javascript
	new LINE_CHART.line_chart("United_States.csv", 'Ebola search intensity: United States', 
		['us_infection', 'us_imported'], 'united_states_graph', 300);