= stylesheet_link_tag 'bootstrap.min.css'
= stylesheet_link_tag 'font-awesome.min.css'
= stylesheet_link_tag 'all.css'
= stylesheet_link_tag 'animation-controls.css'
= stylesheet_link_tag 'legend.css', 'article.css', 'writeup.css'
= stylesheet_link_tag 'line_chart.css'

%h2 America Did Not Panic During the Ebola Crisis

.writeup
	%div.writeup-section
		%div.spacing
		%div.section-content
			:markdown
				America did not panic during the Ebola crisis, at least not when you measure its internet search activity against the rest of the world. The map below tracks the global spread of Ebola together with the online response to it as measured by Google search activity for the term “ebola”.
.writeup
	%div.chart
		%title The Spread of Ebola: Information and Disease

		%div#ebola_chart
			%div.animation-controls
				.btn-group
					%botton#prev-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 20px'}
						%i{class: 'fa fa-step-backward fa-3x'}	
					%button#play-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 50px'}
						%i#play_pause_image{class: 'fa fa-play fa-3x'}
					%botton#next-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 20px'}
						%i{class: 'fa fa-step-forward fa-3x'}	
			%div#legend
				%div.legend-title Google search activity for the term “ebola”
			%div.global_tracker
				%div.tracker_date
				%div.tracker_cases
				%div.tracker_deaths
			%div.headlines
			%div.tooltip
				%div.tooltip-country
				%div.tooltip-search-intensity

.writeup
	%div.writeup-section{style: 'clear: both'}
		%div.spacing
		%div.section-content{style: 'padding-top: 20px'}
			%h3.section-title Canada
			:markdown
				On March 31, shortly after Ebola was first detected in West Africa, [Senegal closed its borders to neighboring Guinea](http://www.bbc.com/news/world-africa-26816438). And in a moment noted for its irony, Mexico and Belize [denied an American cruise ship permission to dock](http://www.washingtonpost.com/news/morning-mix/wp/2014/10/17/cruise-ship-carrying-texas-ebola-nurse-refused-entry-in-belize/) for fear of Ebola.
		%div.section-content{style: 'clear: both'}
		#canada_graph.large-line-graph
		%div.section-content
			%h4.section-title Spain
			:markdown
				As of this writing, Spain is the only other non-African nation to report an Ebola case contracted within its borders. On October 6, a [Spanish nurse contracted the disease](http://www.ibtimes.com/ebola-virus-spreads-spain-nurse-first-ebola-case-outside-west-africa-1699974) from a man brought to Spain for hospitalization after becoming sick with Ebola in Sierra Leone.

				And on October 16, Spain had another Ebola scare when [several patients who later tested negative were hospitalized with potential Ebola symptoms](http://www.reuters.com/article/2014/10/16/health-ebola-spain-idUSL6N0SB42620141016). Figure **[4]** illustrates these events.
		%div.section-content{style: 'clear: both'}
		#spain_graph.large-line-graph

.writeup
	%div.writeup-section{style: 'clear: both'}
		%div.spacing
		%div.section-content
			%h3.section-title Data and Methods
			:markdown
				Data about the spread of the ebola virus were gathered from the World Health Organization [Global Alert and Response](http://www.who.int/csr/don/archive/disease/ebola/en/) and [Situation Report](http://www.who.int/csr/disease/ebola/situation-reports/en/) listings. Ebola case and death numbers reported above are the combined confirmed, suspected, and probable numbers issued by the CDC.

				Data about ebola searches were gathered using [Google Trends](http://www.google.com/trends/). All data were normalized against the United States, with the peak US search activity for the period under study fixed at a value of 100. For an explanation of the Google Trends data, visit the [about page](https://support.google.com/trends/answer/4355164?hl=en&rd=1). Search data prior to July 30th was obtained at a weekly sampling interval and interpolated. Search data on and after July 30th was sampled at a daily interval.
		%div.spacing
		%div.section-content
			:markdown
				The source code and raw data for this project are publicly available on [Github](https://github.com/cyrusinnovation/ebola_infograph)
				
			%span By
			%span.quotation-title
				%a{ href: 'mailto:dblinn@cyrusinnovation.com', target: '#' }David Blinn 
			%span.quotation-source{style: 'font-size: 18px'} with the support of:
		%div.logo-container
			%div.image-with-margin
				= link_to image_tag( 'images/CyrusInnovationLogo.png'), 'http://www.cyrusinnovation.com/'
		%div.logo-container
			%div.image-with-margin
				= link_to image_tag( 'images/occom.png'), 'http://occom.co/'
%meta{property: 'og:image', content: 'images/pygmy-marmoset-monkey.jpg'} 

:javascript
	var Infograph = {};
	Infograph.animating = false;
	Infograph.intervalId = null;
	Infograph.current_date_index = 0;
	Infograph.line_charts = {};
= javascript_include_tag "google_analytics", "mobilecheck"
= javascript_include_tag "jquery-2.1.1.min", "d3", "queue.v1.min", "topojson.v1.min", "events", "animation_controls", "ebola_chart", "line_chart"

:javascript
	new LINE_CHART.line_chart("Spain.csv", '[4] Search activity: Spain vs USA',
		['spain'], 'spain_graph', 300, {resize: true});
	new LINE_CHART.line_chart("Canada.csv", 'Search activity: Canda vs USA',
		['us_infection', 'us_imported', 'canada'], 'canada_graph', 300, {resize: true});

