= stylesheet_link_tag 'bootstrap.min.css'
= stylesheet_link_tag 'font-awesome.min.css'
= stylesheet_link_tag 'all.css'
= stylesheet_link_tag 'animation-controls.css'
= stylesheet_link_tag 'legend.css', 'article.css', 'writeup.css'
= stylesheet_link_tag 'line_chart.css'

%h2 The Spread of Ebola: Information and Disease

.writeup
	%div.writeup-section
		%div.spacing
		%div.quotation-container.one-third
			%p.quotation-contents We hear it said constantly that modern society is uniquely vulnerable to the threat of a pandemic because of the global connectedness of air travel. Yet we rarely pause to consider the other side of our global connectedness: the speed of information, which has been increasing at a much faster rate over the past few decades than the speed of airplanes has.
			%div.quotation-citation
				%div.no-margin 
					%span.quotation-author Johnson, Steven.
					%span.quotation-title
						%a{ href: 'http://www.nytimes.com/2014/10/25/opinion/ebolas-information-paradox.html' }Ebola’s Information Paradox
				%div.no-margin{style: 'padding-left: 10px'}
					%span.quotation-source The New York Times,
					%span.quotation-date 24 Oct. 2014
		%div.section-content.two-thirds.inline-block
			%h3.section-title The Internet and the Virus
			:markdown
				The internet has turned the world upside down in a lot of different ways. It changed commerce. And kitten videos. And viruses.

				Viruses because, after all, the internet is an important avenue of distribution for most computer viruses. And further, it enables scientific research and collaboration on biological viruses at a scale not possible before. And it even gave rise to a new meaning of the word virus in its adjectival form: viral, as in, “to spread rapidly via the internet.” 

				And few things on the internet went viral in October 2014 quite like the dangerous virus ebola. But how did the ebola crisis shape the interest in itself, and how did the interest shape the ebola crisis? Unwinding the two is a vast and tangled process much like the world wide web itself.

				Below is a visualization that tracks the global spread of ebola together with the online response to it as measured by Google search activity for the term “ebola”.
%div.chart
	%div.separator{style: 'stroke-dasharray: 2,2;'}
	%title The Spread of Ebola: Information and Disease

	%div#ebola_chart
		%div.animation-controls
			.btn-group
				%botton#prev-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 20px'}
					%i{class: 'fa fa-step-backward fa-3x'}	
				%button#play-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 50px'}
					%i#play_pause_image{class: 'fa fa-play fa-3x'}
				%botton#next-button{class: 'btn btn-sm btn-default', style: 'padding: 10px 20px'}
					%i{class: 'fa fa-step-forward fa-3x'}	
		%div#legend
			%div.legend-title Google search activity for the term “ebola”
		%div.global_tracker
			%div.tracker_date
			%div.tracker_cases
			%div.tracker_deaths
		%div.headlines
		%div.tooltip
			%div.tooltip-country
			%div.tooltip-search-intensity

.writeup
	%div.writeup-section
		%div.spacing
		%div.section-content
			%h3.section-title Sifting the Searches
			:markdown
				Searching [Google](https://www.google.com/) can provide information about many different things. But it turns out that examining Google searches themselves can also provide some important insights. For instance, having a deep understanding of the searches on its service helps Google and [its advertisers](http://en.wikipedia.org/wiki/Search_engine_optimization) [make money](http://en.wikipedia.org/wiki/AdWords).

				But less cynically, Google searches can also provide information about the spread of disease, as with [Google's Flu Trends](http://www.google.org/flutrends/) service. Flu trends [works in part](http://en.wikipedia.org/wiki/Google_Flu_Trends#Introduction) by tracking online queries for influenza-related terms in order to estimate flu activity.

				In this spirit, let's continue investigating global [Google search activity](http://www.google.com/trends/) for the term “ebola”, beginning with a look at search patterns in the United States.
	%div.writeup-section
		%div.spacing
		%div.section-content
			%h3.section-title Searchin’ USA
		#united_states_graph.large-line-graph
		%div.section-content
			:markdown
				Figure **[1]** above shows that when an important ebola-related event happened in the United States, Google search activity for ebola spiked immediately or shortly thereafter (mouse over or tap on an event line to see its title).

				Spikes were more dramatic for ebola infections discovered in the United States than they were for aid workers returned to the US for treatment. Interest peaked after nurse Amber Vinson was diagnosed with Ebola on October 15th.

				Media criticisms, both foreign and domestic, of the American response to ebola have ranged from calling it a [“panic](http://www.washingtonpost.com/blogs/post-partisan/wp/2014/10/17/stop-the-ebola-panic/)” to labelling it as “[disease-provoked hysteria](http://www.washingtonpost.com/blogs/worldviews/wp/2014/10/22/what-the-world-thinks-of-the-american-ebola-panic/)”. But is this fair? How does it compare to the response in other nations? Before investigating this further, let's get a better sense of just how intense search activity for ebola in the United States was.

			/ Many in the media have criticized the American response to ebola as one of [panic](). For the most part, the events marked on the graph above are frightening to contemplate, which would seem to corroborate fear as an important motivator in sparking the intense interest around ebola. 
	%div.writeup-section
		%div.spacing
		#taylor_swift_graph.small-line-graph.right{style: 'margin-top: -10px'}
		#west_africa_graph.small-line-graph.right{style: 'margin-top: -10px'}
		%div.section-content
			%h3.section-title Comparing Activity
			:markdown
				The musician Taylor Swift released the album “[1989](http://en.wikipedia.org/wiki/1989_(Taylor_Swift_album))” in America on October 27, 2014. It is expected to sell over 1.3 million copies and [break the one-week sales record for an album by a woman](http://www.billboard.com/articles/columns/chart-beat/6304336/taylor-swift-1989-biggest-sales-week-since-2002).

				Americans celebrated the popular annual holiday Halloween on October 31.

				Figure **[2]** plots search activity in the USA for the terms “Halloween”, “Taylor Swift” and “1989” against the search activity for ebola.

				Peak search activity was much higher for ebola than for Taylor Swift or her album, but only half that of Halloween.

				The nations with the consistently highest search activity for ebola are the stricken nations in West Africa – Liberia, Sierra Leone, and Guinea. Figure **[3]** plots their search activity relative to that of the United States.
	%div.writeup-section
		%div.spacing
		%div.section-content
			%h3.section-title The Global Response
			:markdown
				Let's resume our earlier question about the character of the response in other nations around the globe. In examining the data, the excited response of the United States to ebola within its borders appears to be typical of how other nations reacted as well.

		%div.section-content{style: 'clear: both'}
		#spain_graph.small-line-graph.left{style: 'margin-top: -10px'}
		%div.section-content
			%h4.section-title Spain
			:markdown
				As of this writing, Spain is the only other non-West African nation to report an ebola case contracted within its borders. On October 6th, a [Spanish nurse contracted the disease](http://www.ibtimes.com/ebola-virus-spreads-spain-nurse-first-ebola-case-outside-west-africa-1699974) after treating a man brought to Spain for hospitalization after becoming sick with ebola in Sierra Leone.

				And on October 16th, Spain had another Ebola scare when [several patients who later tested negative were hospitalized with potential ebola symptoms](http://www.reuters.com/article/2014/10/16/health-ebola-spain-idUSL6N0SB42620141016). Figure **[4]** illustrates these events.
		%div.section-content{style: 'clear: both'}
		#chile_graph.small-line-graph.left{style: 'margin-top: -10px'}
		%div.section-content
			%h4.section-title Chile
			:markdown
				The event in Spain on October 16th suggests that even the threat of ebola within a nation's borders is enough to measurably raise search activity. Some nations experienced very dramatic surges around a suspected ebola case that later proved not to be ebola.

				Chile experienced an ebola scare on October 12th when a [viral video](https://www.youtube.com/watch?v=v9igKnTvUuw) spread around the internet. The video, taken at a hospital, features a voice on a loudspeaker saying, “[Can I have your attention, please. We have a patient who is suspected to have Ebola. Please leave the room and go to another hospital](http://www.bbc.com/news/blogs-trending-29618224)”.
		%div.section-content{style: 'clear: both'}
		#sweden_graph.small-line-graph.left{style: 'margin-top: -10px'}
		%div.section-content
			%h4.section-title Sweden
			:markdown
				Some nations had a much milder response to suspected ebola cases.

				In Sweden, patients were hospitalized for suspected ebola on [August 31st](http://online.wsj.com/articles/swedish-man-hospitalized-with-suspected-case-of-ebola-1409519411) and [October 19th](http://www.thelocal.se/20141019/ebola-alarm-raised-at-arlanda-airport). These events produced a perceptable rise in interest, but at a smaller scale than in many other nations.
	%div.writeup-section
		%div.spacing
		%div.section-content
			%h3.section-title Good Neighbors
			:markdown
				On March 31st, shortly after ebola was first detected in West Africa, [Senegal closed its borders to neighboring Guinea](http://www.bbc.com/news/world-africa-26816438). And in a moment noted for its irony, Mexico and Belize [denied an American cruise ship permission to dock](http://www.washingtonpost.com/news/morning-mix/wp/2014/10/17/cruise-ship-carrying-texas-ebola-nurse-refused-entry-in-belize/) for fear of ebola.

		%div.section-content{style: 'clear: both'}
		#mexico_canada_graph.small-line-graph.left{style: 'margin-top: -10px'}
		%div.section-content
			:markdown
				This pattern is reflected in the search data as well. When a nation confirms or is suspected to have a case of ebola, search interest in neighboring countries spikes. Mexico and Canada's ebola search activity, for example, closely mirrors the United States (figure **[7]**). Mexico diverged for a period shortly after August 6th when [a student in Mexico City](http://www.oem.com.mx/elsoldemexico/notas/n3496087.htm) was suspected of ebola.

		%div.section-content{style: 'clear: both'}
		#brazil_paraguay_graph.small-line-graph.left{style: 'margin-top: -10px'}
		%div.section-content
			:markdown
				And when a man was [suspected of having ebola](http://www.reuters.com/article/2014/10/10/us-health-ebola-brazil-idUSKCN0HZ1DV20141010) on October 10th in the southern Brazilian state Paraná, which [borders Paraguay](https://www.google.com/maps/place/State+of+Paraná,+Brazil), ebola search activity in Paraguay actually eclipsed the activity in Brazil (figure **[8]**).

	%div.writeup-section
		%div.spacing
		%div.section-content
			%h3.section-title{style: 'margin-bottom: 5px'} Looking at Policy
		%div.quotation-container.one-half.inline-block
			%p.quotation-contents Ms. Hickox raised serious concerns "about the state abusing its powers" and could spread the very fear that the [New York/New Jersey quarantine] order appeared aimed at counteracting.
			%p.quotation-contents "By forcibly detaining people, we are also frightening the public and may deter genuinely sick people who fear quarantine from seeking the treatments they deserve," [Udi Ofer, the head of the American Civil Liberties Union in New Jersey] said in an email.
			%div.quotation-citation
				%div.no-margin 
					%span.quotation-author Benjamin Weiser and J. David Goodman
					%span.quotation-title
						%a{ href: 'http://www.nytimes.com/2014/10/27/nyregion/as-states-look-to-halt-ebola-restrictions-prompt-a-debate.html' }The Flu, TB and Now Ebola: A Rare Legal Remedy Returns
				%div.no-margin{style: 'padding-left: 10px'}
					%span.quotation-source The New York Times,
					%span.quotation-date 26 Oct. 2014			
		%div.quotation-container.one-half.inline-block
			%p.quotation-contents As a psychiatrist, I do have concern about the psychological ramifications [of Dr. Craig Spencer's behavior in New York], which include frightening the public. For our emotional security, it would be best for those returning from West Africa, especially health care workers, to be quarantined, or to self-quarantine, for the appropriate length of time.
			%p.quotation-contents Fear of Ebola is much more contagious than the disease itself. We don't want to produce any more panic in the public.
			%div.quotation-citation
				%div.no-margin 
					%span.quotation-author H. Steven Moffic.
					%span.quotation-title
						%a{ href: 'http://www.nytimes.com/2014/10/25/opinion/the-ebola-patient-in-new-york.html' }Letter to the Editor
				%div.no-margin{style: 'padding-left: 10px'}
					%span.quotation-source The New York Times,
					%span.quotation-date 24 Oct. 2014
		%div.section-content{style: 'margin-top: 10px'}
			:markdown
				Discuss the policy debate. Contrast the responses of Australia + several Carribean nations who have established a quarantine with Cuba.

		:markdown
			* Other section: Fuzziness of information
			* Failure of Google Flu Trends to live up to the hype and its recent revampt that moved toward reported data away from search data
			* Rumor driving interest (Chile), infected people running from health care workers in West Africa.
			* Reported case and death information from WHO, the authority on the matter, constantly fluctuating.
			* Add a section on data sources, give credit to WHO and Google Trends

	%div.writeup-section
		%div.spacing
		%div.section-content
			%h3.section-title Nigerian Success
			:markdown
				Nigeria's success: A strong public awareness campaign listed first among contributing factors.
				Information travels faster than viruses do now. This is why we are afraid. But this is also why we are safe.
				http://www.who.int/mediacentre/news/statements/2014/nigeria-ends-ebola/en/

	%div.writeup-section
		%div.spacing
		%div.quotation-container.one-third
			%p.quotation-contents Information travels faster than viruses do now. This is why we are afraid. But this is also why we are safe.
			%div.quotation-citation
				%div.no-margin 
					%span.quotation-author Johnson, Steven.
					%span.quotation-title
						%a{ href: 'http://www.nytimes.com/2014/10/25/opinion/ebolas-information-paradox.html' }Ebola’s Information Paradox
				%div.no-margin{style: 'padding-left: 10px'}
					%span.quotation-source The New York Times,
					%span.quotation-date 24 Oct. 2014		
		%div.section-content.two-thirds.inline-block
			%h3.section-title The Limits of the Internet
			:markdown
				Nigeria's success in combatting ebola within its borders suggests that it is possible to inform a citizenry in the midst of a raging medical crisis.

				Education and information are keys in fighting the spread of an infection, and the internet can play in important role in disseminating and aggregating that information. At the same time, it is important to recognize limits.
		%div.section-content{style: 'clear: both'}
			:markdown
				[Google Flu Trends](http://www.google.org/flutrends/), cited above as an example of the power of search data in predicting flu outbreaks, has actually been [dramatically over estimating the number of flu cases](http://www.businessweek.com/articles/2014-03-14/how-google-confused-basketball-fans-with-flu-patients). What was Google's fix? To [incorporate their service](http://bits.blogs.nytimes.com/2014/10/31/the-new-thing-in-google-flu-trends-is-traditional-data/)  the official, traditional, and human-gathered [CDC reports](http://www.cdc.gov/flu/weekly/).

				[Headlines in May](http://news.yahoo.com/dramatic-improvement-controlling-ebola-outbreak-150438707.html) were claiming success in combatting the outbreak when in fact the crisis would go on to take a dramatic turn for the worse.

%div.separator{style: 'margin-bottom: 10px'}
.writeup
	%div.writeup-section
		%div.section-content
			%h3.section-title Data and Methods
			:markdown
				Data about the spread of the ebola virus were gathered from the World Health Organization [Global Alert and Response](http://www.who.int/csr/don/archive/disease/ebola/en/) and [Situation Report](http://www.who.int/csr/disease/ebola/situation-reports/en/) listings.

				Data about ebola searches were gathered using [Google Trends](http://www.google.com/trends/). All data were normalized against the United States, with the peak US search activity for the period under study fixed at a value of 100. For an explanation of the Google Trends data, visit the [about page](https://support.google.com/trends/answer/4355164?hl=en&rd=1).
		%div.spacing
		%div.section-content
			:markdown
				The source code and raw data for this project are publicly available on [Github](https://github.com/cyrusinnovation/ebola_infograph)
				
			%span By
			%span.quotation-title
				%a{ href: 'http://www.linkedin.com/in/davidblinnroadhomegames' }David Blinn 
			%span.quotation-source{style: 'font-size: 18px'} with the support of:
		%div.logo-container
			%div.image-with-margin
				= link_to image_tag( 'images/CyrusInnovationLogo.png'), 'http://www.cyrusinnovation.com/'
		%div.logo-container
			%div.image-with-margin
				= link_to image_tag( 'images/occom.png'), 'http://occom.co/'

:javascript
	var Infograph = {};
	Infograph.animating = false;
	Infograph.intervalId = null;
	Infograph.current_date_index = 0;
	Infograph.line_charts = {};
= javascript_include_tag "google_analytics", "mobilecheck"
= javascript_include_tag "jquery-2.1.1.min", "d3", "queue.v1.min", "topojson.v1.min", "events", "animation_controls", "ebola_chart", "line_chart"

:javascript
	new LINE_CHART.line_chart("United_States.csv", '[1] Search activity for “ebola” in the United States', 
		['us_infection', 'us_imported'], 'united_states_graph', 300, {resize: true});
	new LINE_CHART.line_chart("taylor_swift.csv", '[2] Google search activity for a variety of terms in the USA',
		['taylor_swift'], 'taylor_swift_graph', 300, {});
	new LINE_CHART.line_chart("West_Africa.csv", '[3] Search activity: West Africa vs USA',
		[], 'west_africa_graph', 300, {});
	new LINE_CHART.line_chart("Spain.csv", '[4] Search activity: Spain vs USA',
		['spain'], 'spain_graph', 300, {});
	new LINE_CHART.line_chart("Chile.csv", '[5] Search activity: Chile vs USA',
		['chile'], 'chile_graph', 300, {});
	new LINE_CHART.line_chart("Sweden.csv", '[6] Search activity: Sweden vs USA',
		['sweden'], 'sweden_graph', 300, {});
	new LINE_CHART.line_chart("Mexico_Canada.csv", '[7] Search activity: Mexico, Canda, USA',
		['mexico'], 'mexico_canada_graph', 300, {});
	new LINE_CHART.line_chart("Brazil_Paraguay.csv", '[8] Search activity: Brazil vs Paraguay',
		['brazil_paraguay'], 'brazil_paraguay_graph', 300, {});