= stylesheet_link_tag 'bootstrap.min.css'
= stylesheet_link_tag 'font-awesome.min.css'
= stylesheet_link_tag 'all.css'

#line_chart

= stylesheet_link_tag 'line_chart.css'
= javascript_include_tag "d3", "events", "line_chart"

:javascript
	new LINE_CHART.line_chart("United_States.csv", 'Ebola search activity in USA', 
		['us_infection', 'us_imported'], 300);